// -- css header dashboard


.headerContainer {
  height: 5rem;
}

.headerContent {
  max-width: 1280px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    align-items: center;
    gap: 16px;

    a {
      color: var(--red-crimson);
      text-decoration: none;
      font-weight: bold;
      transition: color 0.8s, transform 0.8s;

      &:hover {
        color: var(--white);
        transform: scale(1.2);
      }
    }

    button {
      color: crimson;
      border: 0;
      background: transparent;
      font-weight: bold;
      margin-left: 16px;
      transition: color 0.8s, transform 0.5s;

      &:hover {
        color: var(--white);
        transform: scale(1.2);
      }
    }
  }

}


/* Responsivo para telas menores */
@media (max-width: 490px) {

  .headerContainer {
    margin-bottom: 36px;
    display: block;    
    align-items: center;
    width: 100%;
  }

  .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .headerContent {
    display: block;

    nav {
      margin: 0 auto;
      text-align: center;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      margin: 16px auto;
      width: 100%;
    }
  }


}