.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    font-size: 1.7rem;
    margin: 16px 0;
    color: var(--white);
    text-align: center;
  }

}

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin: 24px 0 16px 0;

  button {
    background: transparent;
    border: 0;
    transition: all 0.8s;

    &:hover {
      filter: brightness(1.35);
      transform: scale(1.4) rotate(600deg);
      color: #39FF14;
    }
  }
}

.listOrders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.4s;
  padding: 12px 0;

  &:hover {
    color: #39FF14;
  }
}

.orderItem {
  display: flex;
  background-color: var(--dark-900);
  align-items: center;
  border: 0;
  font-size: 18px;
  border-radius: 8px;
  color: var(--white);
  transition: filter 0.7s;

  &:hover {
    filter: brightness(1.40);
  }
}

.tag {
  width: 9px;
  height: 70px;
  background-color: var(--green-900);
  border-radius: 6px 0 0 6px;
  margin-right: 16px;
}

.emptyItem {
  padding: 16px;
  box-shadow: 0 0 5px #FFFFFF;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  margin-top: 16px;
}