.container {
  max-width: 720px;
  margin: 20px auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1.9rem;
    margin: 16px 0;
    color: var(--white);
    text-align: center;
  }

  h2 {
    font-size: 1.7rem;
    margin: 32px 0 16px;
    color: var(--white);
    text-align: center;
  }
}



.form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 16px 0;

}

.input {
  height: 40px;
  border: 0;
  background-color: var(--dark-900);
  border-radius: 8px;
  padding: 0 16px;
  color: var(--white);
  border: 1px solid var(--gray-100);
  transition: all 0.5s;

  &:hover {
    filter: brightness(1.40);
  }
}